.gradientContainer{
    background: linear-gradient(180deg, #FDD549, #fff);
}
.hero{
    
}
.heroBg{
    background: url('/hero-bg.png');
    background-position: left top;
    background-size: 60%;
    background-repeat: no-repeat;
}
.heroActions{
    border-radius: 14px;
}
.btnWallet{
    border: none;
    box-shadow: 0 0 4px rgba(0,0,0,0.25);
}
.btnHero{
    background: white;
    border: none;
    box-shadow: 0 0 4px rgba(0,0,0,0.25);
}
.gamePlanContainer{

}
.infoContainer{
    background: url('/gameplan/shape-full.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.cardJobs::before{
    position: absolute;
    background: url("/gameplan/jobs-before.svg");
    height: 15px;
}
.cardShadow{
    box-shadow: 0 4px 26px rgba(0,0,0,0.05);
}
.parametersContainer{
    background: linear-gradient(180deg, #fff, #FDD549 );
}